.main-footer__aside {
    @include splitGradient($white, darken($white, 2));
    text-align: left;

    .heading {
        text-align: left;
    }

    &__widget-list {
        @include unstyledList;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));

        .form {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 10px;

            &__input--text {
                background: #eeeeee;
                border: none;
                flex: 1;
                padding: 10px;
            }
        }
    }
}

.main-footer__copyright {
    background-color: $black;
    color: $primary-text-color;
    padding: 35px 0;
    text-align: center;

    a {
        color: $white;
    }
}