.main-footer__aside {
    @include splitGradient($white, darken($white, 2));
    text-align: left;

    .heading {
        margin-top: 0;
        text-align: left;
    }

    .widget-list {
        @include unstyledList;
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));

        .form {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 10px;

            &__input--text {
                background: #eeeeee;
                border: none;
                padding: 10px;
            }
        }

        .post-list {
            @include unstyledList;

            &__post {
                display: grid;
                grid-gap: 15px;
                grid-template-columns: auto 1fr;
                margin-bottom: 15px;

                &__date,
                &__heading {
                    line-height: 1.2;
                    margin: 0;
                    padding: 0 0 5px;
                }

                &__heading {
                    font-weight: $font-weight-regular;

                    &__link {
                        color: $black;

                        &:hover {
                            color: $primary-text-color;
                        }
                    }
                }
            }
        }
    }
}

.main-footer__copyright {
    background-color: $black;
    color: $primary-text-color;
    padding: 35px 0;
    text-align: center;

    a {
        color: $white;
    }
}

@media screen and (max-width: 1169px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 820px) and (max-width: 1170px) {

    .main-footer__aside {
        .widget-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }  
}