.main-header {
    @include splitGradient($white, darken($white, 2));

    .wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.main-nav {
    &__list {
        @include unstyledList;
        @include flexRowWrap;

        &__item {
            padding-left: 0;

            &__link {
                border-right: 1px solid #e8e8e8;
                color: $heading-text-color-dark;
                display: inline-block;
                font-size: 1.3rem;
                margin-right: 35px;
                padding-right: 35px;

                &--active {
                    color: $red;
                }
            }

            &:last-of-type a {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}